{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread", "transform-runtime",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@src": "./src",
        "@test": "./test"
      }
    }]
  ]
}